/* CSS RESET */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');

html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.uil-signout{
    font-size: 16px;
    font-weight: bold;
}

/* Main Style */
.container{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kiri{
    position: absolute;
    left: 0;
}
.kanan{
    position: absolute;
    right: 0;
    top: 0;
}

/* HEADER */
header{
    margin: 50px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-judul{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-judul .logo{
    width: 150px;
    height: 150px;
}

.box-judul .logo-text{
    margin-top: -70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-judul .logo-text h1,h2{
    font-size: 7vw;
    font-weight: bold;
}
.box-judul .logo-text span{
    font-size: 2.5vw;
}

.box-judul .logo-text h1{
    margin-top: 60px;
    color: #616063;
}
.box-judul .logo-text h2{
    margin-top: -60px;
}
.box-judul .logo-text span{
    margin-top: -40px;
}

/* Form */
form{
    margin: 50px auto 0;
    display: flex;
    width: 80%;
    flex-direction: column;
}

form .phone{
    display: block;
    text-align: center;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #403C3C;
}

form .btn{
    cursor: pointer;
    margin-top: 15px;
    border-radius: 10px;
    display: block;
    height: 40px;
    font-weight: bold;
    color: #fff;
    background-color: #2E6021;
    border: none;
    box-shadow: 0px 5px 3px rgba(0,0,0,.5);
    transition: 200ms ease-in;
}
form .btn:hover{
    box-shadow: none;
    transform: translateY(3px);
}

form .check-box{
    margin-top: 40px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

form .check-box .box-1{
    display: grid;
    grid-template-columns: 5% 95%;
    gap: 5px;
}

.guest{
    margin-top: 80px;
    padding: 5px 50px;
    border: 3px solid #2E6021;
    border-radius: 10px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    transition: 200ms;
}
.guest:hover{
    background-color: #2E6021;
    color: #fff;
}

/* FOOTER */
footer{
    margin-top: 50px;
    width: 100%;
}

footer .wave{
    width: 100%;
    position: absolute;
}

/* RESPONSIVE */
@media screen and (max-width:375px) {
    .box-judul .logo-text h1,h2{
        font-size: 7vw;
        font-weight: bold;
    }
    .box-judul .logo-text span{
        font-size: 2.5vw;
    }
    
    .box-judul .logo-text h1{
        margin-top: 70px;
        color: #616063;
    }
    .box-judul .logo-text h2{
        margin-top: -35px;
    }
    .box-judul .logo-text span{
        margin-top: -25px;
    }

    .box-judul .logo{
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width:320px) {
    .box-judul .logo-text h1,h2{
        font-size: 7vw;
        font-weight: bold;
    }
    .box-judul .logo-text span{
        font-size: 2.5vw;
    }
    
    .box-judul .logo-text h1{
        margin-top: 70px;
        color: #616063;
    }
    .box-judul .logo-text h2{
        margin-top: -35px;
    }
    .box-judul .logo-text span{
        margin-top: -25px;
    }

    .box-judul .logo{
        width: 100px;
        height: 100px;
    }

    /* FORM */
    form{
        margin: 50px auto 0;
        display: flex;
        width: 80%;
        flex-direction: column;
    }
    
    form .phone{
        display: block;
        text-align: center;
        height: 30px;
        border-radius: 10px;
        border: 2px solid #403C3C;
    }
    
    form .btn{
        cursor: pointer;
        margin-top: 15px;
        border-radius: 10px;
        display: block;
        height: 30px;
        font-weight: bold;
        color: #fff;
        background-color: #2E6021;
        border: none;
        box-shadow: 0px 5px 3px rgba(0,0,0,.5);
        transition: 200ms ease-in;
    }
    form .btn:hover{
        box-shadow: none;
        transform: translateY(3px);
    }
    
    form .check-box{
        transform: scale(.9);
        margin-top: 40px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }
    
    form .check-box .box-1{
        display: grid;
        grid-template-columns: 5% 95%;
        gap: 20px;
    }
    
    .guest{
        margin-top: 80px;
        padding: 5px 40px;
        border: 3px solid #2E6021;
        border-radius: 10px;
        color: black;
        font-weight: 500;
        text-decoration: none;
        transition: 200ms;
        font-size: 15px;
        transform: scale(.8);
    }
    .guest:hover{
        background-color: #2E6021;
        color: #fff;
    }
}

@media screen and (max-width:480px) {
    .box-judul .logo-text h1,h2{
        font-size: 7vw;
        font-weight: bold;
    }
    .box-judul .logo-text span{
        font-size: 2.5vw;
    }
    
    .box-judul .logo-text h1{
        margin-top: 70px;
        color: #616063;
    }
    .box-judul .logo-text h2{
        margin-top: -35px;
    }
    .box-judul .logo-text span{
        margin-top: -25px;
    }

    .box-judul .logo{
        width: 100px;
        height: 100px;
    }
}